In [84]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from modules import download_catalogs

You could download cataloges for program work:

```python
catalogs = [
    "B/vsx/vsx",
]

files_names = download_catalogs(catalogs)
```

In [85]:
base_name = "B_vsx_vsx" # Имя файла без разрешения
df = pd.read_parquet(f"data/{base_name}.parquet")
df.head()

,OID,n_OID,Name,V,Type,l_max,max,u_max,n_max,f_min,l_min,min,u_min,n_min,l_Period,Period,u_Period,Sp,RAJ2000,DEJ2000
0,8278100,,Gaia DR3 4685168858707787776,0,L,,16.59,,G,,,17.740000,,G,,NaN,,K,0.00006,-75.86906
1,2535232,,Gaia DR3 2881873169572728832,0,ROT,,16.59,,G,,,16.639999,,G,,2.35407,,G,0.00013,39.89248
2,2535233,,Gaia DR3 4918216945285915648,0,RR,,17.07,,G,,,17.600000,,G,,NaN,,F,0.00019,-59.55921
3,2535234,,Gaia DR3 566749663745310848,0,ROT,,15.57,,G,,,15.620000,,G,,NaN,,K,0.00038,81.91627
4,2535235,,Gaia DR3 430093700005970048,0,ROT,,14.50,,G,,,14.530000,,G,,NaN,,F,0.00043,63.43314

In [86]:
def preprocess_data(df):
    drop = ["V", "OID", "n_OID", "Name", "RAJ2000", "DEJ2000"]
    oilfilled = ['l_max', 'u_max', 'n_max', 'f_min', 'l_min', 'u_min', 'n_min', 'l_Period', 'u_Period']
    df = df.drop(columns=drop+oilfilled)
    df = df.dropna()

    # Drop all Sp types exept true_sp
    true_sp = ['K', 'F', 'M', 'G', 'A', 'B', 'O', 'C']
    df = df[df['Sp'].isin(true_sp)]

    # Drop all Var types exept true_sp
    true_type = ["E", "ROT", "SR|M", "VAR", "DSCT|GDOR|SXPHE", "RS", "RRAB", "RRC", "DCEP", "DCEPS", "BY", "ELL", "SR"]
    df = df[df['Type'].isin(true_type)]

    return df

df = preprocess_data(df)

In [87]:
new_name = "mul_class"
df.to_parquet(f"data/{new_name}.parquet")
df.head()

   Type    max        min    Period Sp
1   ROT  16.59  16.639999  2.354070  G
21  ROT  14.69  14.710000  0.351222  F
44  ROT  15.99  16.030001  5.835500  K
48  ROT  15.09  15.100000  4.552810  K
60  VAR  14.63  14.660000  0.014729  F